# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
bin/*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
bin/*.lib

# Executables
*.exe
*.out
*.app


*.vs/
x64/*
obj/x64/*
TestBalistique/x64/*
TestBalistique/bin/*.dll
TestBalistique/bin/*.pdb
CoreBalistique/x64/*
CoreBalistique/bin/*.dll
CoreBalistique/bin/*.pdb

*.vcxproj.*
bin/*.pdb
bin/TestBalistique.*
bin/CoreBalistique.*

packages/Microsoft.googletest.v140.windesktop.msvcstl.dyn.rt-dyn.1.8.1/*